
:root {
	--white:#fff;
	--blue:#86d3ff;
	--purple: #000000; 
	--dark:#333;
}

* {
	margin: 0;
	box-sizing: border-box;
	font-family: 'Fira sans', sans-serif;
}

body {
	background-color: #F2F2F2;
}

.watch {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: var(--white);
	width: 100%;
	max-width: 400px;
	margin: 50px auto 100px auto;
	border-radius: 16px;
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.103);
}

.watch img {
	padding: 60px 0 30px 0;
	width: 16%;
	height: 16%;
}

.watch .time {
	font-size: 5rem;
	font-weight: 300;
}

/* Buttons */

.controls {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 30px 0;

}

.controls button {
	font-size: 1rem;
	font-weight: 600;
	appearance: none;
	outline: none;
	border: none;
	cursor: pointer;
	margin: 15px 10px 35px 10px;
	padding: 10px 20px;
	border-radius: 30px;
	transition: all .3s ease;
	color: var(--white);
	letter-spacing: 1px;
	user-select: none;
}

.controls #start {
background-color: #000;}

.controls #stop {
	background: #000;


}

.controls #reset {
background-color: #000;
}



.controls button:hover {
	opacity: .7;
}



